#container {
    width: 375px;
    min-height: 667px;
    margin: 0px auto;
    text-align: center;
    background: black; /* 검정색 배경 추가 */
    position: relative;
    overflow: auto;
    border: 1px solid black;
}

/* 로그아웃 */
#logout {
    position: absolute;
    width: 48px;
    height: 16px;
    left: 308.25px;
    top: 77px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    color: #FFFFFF;
}

/* TO DO 작성 */
#writing {
    position: absolute;
    width: 230px;
    /* width: 126px; */
    height: 28px;
    left: 50%;
    /* left: 132px; */
    transform: translateX(-50%);
    top: 149px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

#todo {
    position: absolute;
    width: 230px;
    /* width: 126px; */
    height: 28px;
    left: 50%;
    /* left: 132px; */
    transform: translateX(-50%);
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

#todoboxplus {
    /* + */

    position: absolute;
    width: 14px;
    height: 20px;
    left: 350px;
    top: 240px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    z-index: 2;
    cursor: pointer;
}


#todofirst {
    /* Rectangle 103 */

    position: absolute;
    width: 25px;
    height: 25px;
    left: 25px;
    top: 240px;


    background: #D3D3D3;
    /* background: #C2AC18; */
    border-radius: 8px;
}

#todosecond {
    /* Rectangle 102 */

    position: absolute;
    width: 273px;
    height: 25px;
    left: 65px;
    top: 240px;

    background: #FFFFFF;
    border-radius: 8px;
}

#todotext {
    /* 아침 수영 */

    border: none;
    outline: none;
    position: absolute;
    width: 60px;
    height: 16px;
    left: 76px;
    top: 243px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #000000;
}

#todocheck {
    /* ✓ */

    position: absolute;
    width: 14px;
    height: 18px;
    left: 31px;
    top: 243px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}



#footer_box {
    width: 375px;
    height: 97px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    top: 580px;
  }